@import "../../../styles/settings.scss";

.product__item {
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border: 1px $light-gray solid;
  box-shadow: 0px 0px 29px -20px rgba(66, 68, 90, 1);

  .link {
    text-decoration: none;
    color: inherit;

    .leftColumn {
      display: flex;
      align-items: center;
      
      img {
        height: 100px;
        width: 100px;
        padding: 5px 0px;
      }

      .info {
        margin: 20px 20px 0px 20px;

        h3 {
          font-size: 16px;
          font-weight: 600;
          margin: 0px;
        }

        p {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }

  .rightColumn {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
    .delete {
      cursor: pointer;

      span {
        margin-left: 10px;
      }

      &:hover {
        color: $prospero-red;
      }
    }

    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 16px;
        margin-top: 5px;
      }

      .counter_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .counter {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 0px 0px 10px;
          border: 0.5px solid $strong-gray;
          border-radius: 15px;
          width: 100px;
          
          span {
            font-size: 16px;
            padding: 0px 5px;
          }
      
          .icon {
            height: 25px;
            width: 25px;
            margin: 0px 5px;
            color: $prospero-orange;
            cursor: pointer;
          }
        }

        button {
          cursor: pointer;
          border: none;
          background-color: $prospero-orange;
          color: white;
          border-radius: 5px;
          padding: 3px 20px;
          margin-top: 5px;
          margin-left: 10px;

          &:hover {
            background-color: $prospero-light-orange;
          }
        }
      }
    }

    .price {
      font-weight: 600;
      color: $prospero-orange;
    }
  }
}

@media (max-width: 850px) {

  .product__item {  
    .rightColumn {          
      .delete {
        span {
          display: none;
        }
      }

      .quantity {
        h2 {
          display: none;
        }
      }
    }
  }
}    



@media (max-width: 650px) {

  .product__item {  
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: space-between;

    .leftColumn {
      width: auto;
    }

    .rightColumn {
      width: auto;
    }
  }
}    



@media (max-width: 320px) {

  .product__item {  
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: space-between;

    .leftColumn {
      width: auto;

      .info {
        margin: 0px 0px 0px 20px;

        p {
          display: none;
        }
      }
    }
  }
}    
