@import "../../../styles/settings.scss";

.container{
  padding: 50px 50px 10px 50px;
  background-color: $background-gray;

  .user {
    background-color: white;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 31px -14px rgba(66, 68, 90, 1);

    h1 {
      font-size: 30px;
      margin: 25px 0px 10px 0px;
    }

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 20px 0px;
    }

    button {
      border-radius: 15px;
      margin: 10px 0px;
      padding: 10px 20px;

      span {
        margin-left: 10px;
      }
    }

    .message {
      width: 80%;
      margin: 20px 0px;
      background-color: $light-gray;
      padding: 10px;
      border-radius: 5px;
    }

    p {
      margin-bottom: 40px;
    }
  }

  .orders {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 30px;
      margin: 25px 0px;
    }
  }

  .data {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 31px -14px rgba(66, 68, 90, 1);
    margin-bottom: 30px;

    .order {
      padding: 10px 30px;

      .breadcrumb {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
      
        li {
          padding-top: 12px;
        }
      
        a {
          text-decoration: none;
          color: black;

          &:hover{
            color: $prospero-orange;
          }
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        h1 {
          font-size: 24px;
          margin-top: 28px;
        }

        .buttons {

          .button__invoice {
            font-size: 14px;
            background-color: inherit;
            color: $prospero-black;
            border: 1px solid $strong-gray;
            border-radius: 5px;
            margin-right: 10px;

            .icon {
              height: 20px;
              width: 20px;
            }
            span:first-of-type {
              margin-left: 5px;
            }
          }

          .button__track {
            font-size: 14px;
            background-color: inherit;
            color: white;
            border: 1px solid hsl(0, 1%, 71%);
            border-radius: 5px;
            background-color: $prospero-blue;

            .icon {
              height: 20px;
              width: 20px;
              margin-left: 5px;
            }
          }
        }
      }

      .dates {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 20px 0px;
        border-bottom: 1px solid $light-gray;

        .order__date {
          span:first-of-type {
            color: $strong-gray;
          }
        }

        .delivery__date {
          color: $prospero-green;

          .icon {
            height: 20px;
            width: 20px;
            margin-right: 5px;
          }
        }
      }

      .products {
        padding: 10px 0px;
        border-bottom: 1px solid $light-gray;

        .product {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding:10px 0px;

          .left__side {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
              height: 80px;
              width: 80px;
              padding: 5px 0px;
              object-fit: cover;
            }

            .description {
              margin-left: 20px;
              color: $prospero-black;

              h2 {
                font-size: 18px;
              }

              .details {

                span {
                  margin-right: 15px;
                  color: $strong-gray;
                }
              }
            }
          }

          .right__side {
            display: flex;
            flex-direction: column;
            
            span:last-of-type {
              margin-top: 5px;
              color: $strong-gray;
            }
          }
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;

        h2 {
          font-size: 18px;
          font-weight: 500;
        }

        .icon {
          margin-left: 10px;
        }

        p {
          font-size: 14px;
          color: $strong-gray;
        }

        .payment {
          width: 50%;

          .price {
            margin-top: 10px;
          }
        }

        .address {
          width: 50%;
        }
      }
    }

    h1 {
      text-align: center;
      font-size: 30px;
      padding: 20px 0px 40px 0px;
    }

    .list__item {
      margin: 50px 30px;
      padding: 10px 20px;
      background-color: $light-gray;
      border-radius: 15px;
      
      .list__firstLine {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;

        span{
          display: flex;

          .icon {
            margin-right: 5px;
          }
        }
      }

      .list__secondLine {
        display: flex;
        flex-direction: column;

        .product {
          padding: 5px 0px;
        }
      }
    }
  }
}

// Media queries

@media (max-width: 1000px) {

  .container {
    .user {
      h1 {
        font-size: 24px;
      }
    }
    .orders {
      h1 {
        font-size: 24px;
      }

  }
}

@media (max-width: 767px) {
  .container {
    padding: 50px 20px 10px 20px;
      .user {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 460px) {
  .container {
    .data {
      .order {
        .header {
          .buttons {
            display: none;
          }
        }
        .products {
          .product {
            .left__side {
              img {
                display: none;
              }
              .description {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
}