@import "../../../styles/settings.scss";

.container {
  background-color: $prospero-black;
  color: white;

  .messageBar {
    height: 40px;
    border-bottom: 1px solid rgba(233, 232, 232, 0.2);
    display: flex;
    justify-content: space-between;

    .messageBar__left {
      padding: 8px;
      padding-left: 64px;
  
      p {
        font-size: 14px;
      }
    }

    .messageBar__right {
      padding: 8px;
      padding-right: 60px;
      display: flex;
  
      p {
        font-size: 14px;
      }
    }
  }

  .mainBar {
    height: 100px;
    display: flex;
    padding: 0px 64px;

    // Logo section

    .mainBar__logo {
      flex: 1;
      display: flex;
      align-items: center;

      .image{
        cursor: pointer;
      }
    }

    // Search section

    .mainBar__search {
      flex: 3;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // Features section

    .mainBar__features {
      display: flex;
      justify-content: space-between;
      flex: 4;
      margin-left: 40px;

      .icons {
        height: 100%;
        font-size: 14px;
        display: flex;
        align-items: center;
        max-width: 80px;

        .icon {
          font-size: 40px;
        }

        .icon__cart {
          font-size: 40px;
          color: $prospero-orange;
          transition: $transition;
          cursor: pointer;

          &:hover {
            color: $prospero-light-orange;
          }
        }

        a {
          text-decoration: none; 
          color: inherit;
        }

        p {
          margin-top: 13px;
          padding-left: 10px;
          transition: $transition;
          cursor: pointer;

          &:hover {
            color: $prospero-light-orange;
          }
        }

        .register {
          display: flex;
          flex-direction: column;
          padding-left: 10px;

          a {
            text-decoration: none; 
            color: inherit;
          }

          span {
            transition: $transition;
            cursor: pointer;
            text-decoration: none; 

            &:hover {
              color: $prospero-light-orange;
            }
          }
        }

        .cart {
          display: flex;
          flex-direction: column;
          padding-left: 10px;

          span {
            text-align: center;
            color: white;
          }

          .amount {
            background-color: $light-gray;
            color: $prospero-black;
            border-radius: 15px;
          }
        }
      }
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $prospero-black;
    width: 100%;
    z-index: 2;
    transition: all 0.2s ease-out;
  }

  

  // Mobile search bar
  .mobileSearch {
    background-color: $prospero-orange;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }


  // Menu bar
  .menu__bar {
    background-color: $prospero-orange;
    height: 50px;
    display: flex;

    .menu__dropdown {
      flex: 1;
      background-color:$prospero-orange;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menu__buttons {
      flex: 3;
      display: flex;
      align-items: center;

      span{
        margin: 0px 20px;
      }

      a {
        text-decoration: none; 
        color: inherit;
      }
    }
  }
}

// Media queries //

@media (max-width: 1200px) {
  
  .container {
    .mainBar {
      // Features section
      .mainBar__features {
        justify-content: flex-end;
        flex: 2;
        margin-left: 0px;
        padding-right: 16px;
  
        .icons {
          padding: 0px 10px;

          .icon {
            font-size: 40px;

            &:hover {
              color: $prospero-light-orange;
            }
          }
  
          .icon__cart {
            font-size: 40px;
            color: $prospero-orange;
            transition: $transition;
            cursor: pointer;
  
            &:hover {
              color: $prospero-light-orange;
            }
          }
  
          p {
            display: none !important; 
          }
  
          .register {
            display: none !important; 
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {

  .container {
  
    .messageBar {
      justify-content: center;

      .messageBar__left {
        display: none;
      }
    }

    .mainBar {
      height: 70px;

      .mainBar__search {
        display: none;
      }

      .mainBar__features {
        .icons {
          .icon {
            font-size: 34px;
          }
  
          .icon__cart {
            font-size: 34px;
          }
  
          p {
            display: none !important; 
          }
  
          .register {
            display: none !important; 
          }

          .cart {
            padding-left: 0px;
  
            span {
              text-align: center;
              color: white;

              &:nth-child(2){
                display: none;
              }
            }
  
            .amount {
              background-color: $light-gray;
              color: $prospero-black;
              border-radius: 15px;
              padding: 0px 10px;
            }
          }
        }
      }

    }

    .mobileSearch {
      display: block;
    }

    .menu__bar {
      display: none;
    }
  }

}

@media (max-width: 767px) {
  .container {
    .mainBar {
      padding: 0px 15px;
    }
  }
}

@media (max-width: 460px) {
  
  .container {
    .mainBar {
      .mainBar__logo {
        display: none;
      }
      .mainBar__features {
        justify-content: center;
        padding-right: 0px;
      }
    }
  }

}
