// Colors
$prospero-orange: #ea620a;
$prospero-light-orange: #F9863B;
$prospero-black: #161615;
$prospero-red: #DF0A27;
$prospero-blue: #144A9A;
$prospero-green: #36C608;
$light-gray: #eee9e3;
$strong-gray: #8f9597; 
$background-gray: #f5f5f7;

// Transition
$transition: color 0.1s ease-out;
